<div class="container">
    <h1 class="h1">Публичная оферта <br>
        (Предложение о заключении агентского договора)</h1>
    <span class="subtitle _center">Пожалуйста, заполняйте форму внимательно.</span>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-field">
            <label class="text _lg">Город:</label>
            <input class="form-control input" type="input" name="name" placeholder="Город..." />
        </div>
        <div class="form-field">
            <label class="text _lg">Имя</label>
            <input class="form-control input" type="input" name="name" placeholder="Имя..." />
        </div>
        <div class="form-field">
            <label class="text _lg">Фамилия</label>
            <input class="form-control input" type="input" name="last-name" placeholder="Фамилия..." />
        </div>
        <div class="form-field">
            <label class="text _lg">Отчество (если есть)</label>
            <input class="form-control input" type="input" name="middle-name" placeholder="Отчество (если есть)" />
        </div>
        <div class="form-field">
            <label class="text _lg">Номер телефона</label>
            <small class="text-sm">Если ранее работали с momentum, то номер телефона, что был там зарегистрирован</small>
            <input class="form-control input" type="input" name="phone" placeholder="Телефон..." />
        </div>
        <div class="form-field">
            <label class="text _lg">Электронная почта</label>
            <input class="form-control input" type="input" name="phone" placeholder="Email..." />
        </div>
        <div class="form-field">
            <label class="text _lg">Разворот паспорта с фото:</label>
            <input class="form-control btn-file" type="file" name="passport-1" />
        </div>
        <div class="form-field">
            <label class="text _lg">Паспорт страница с пропиской:</label>
            <input class="form-control btn-file" type="file" name="passport-2" />
        </div>
        <div class="form-field">
            <label class="text _lg">Лицевая сторона водительского удостоверения:</label>
            <input class="form-control btn-file" type="file" name="driver_licence-1" />
        </div>
        <div class="form-field">
            <label class="text _lg">Обратная сторона водительского удостоверения:</label>
            <input class="form-control btn-file" type="file" name="driver_licence-2" />
        </div>
        <div class="form-field">
            <label class="text _lg">Свидетельство о регистрации ТС (сторона с НОМЕРОМ АВТОМОБИЛЯ):</label>
            <input class="form-control btn-file" type="file" name="car_registration" />
        </div>
        <div class="form-field _inline checkbox">
            <input class="form-control" type="checkbox" id="agreetment" checked>
            <label class="text _md" for="agreetment">
                Я даю своё согласие на обработку моей персональной информации на условиях, определенных политикой конфиденциальности и принимаю условия оферты.
            </label>
        </div>

        <div class="form-field  _inline checkbox">
            <input class="form-control checkbox__input" type="checkbox" id="offer" checked>
            <label class="checkbox__label text _md" for="offer">
                Я принимаю условия оферты.
            </label>
        </div>

        <div class="form-submit">
            <input class="btn _lg _yellow" type="submit" value="Отправить" />
        </div>

        <br>
        <br>
        <p class="text _sm _center">
            Нажимая кнопку "ОТПРАВИТЬ", Я даю своё согласие на обработку моей персональной информации на условиях, определенных
            <a href="#">политикой конфиденциальности</a> и принимаю условия <a href="#">оферты.</a>
        </p>
        {{status}}
    </form>
</div>